{% extends "::base.html.twig" %}

{% block title %}Customers{% endblock %}

{% block content %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('customer_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
            <td>{{ entity.emailAddress }}</td>
            <td>{{ entity.contactAddress.phone }}</td>
            <td>
                <a class="btn btn-mini" href="{{ path('customer_edit', { 'id': entity.id }) }}">EDIT</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('customer_new') }}">New Customer</a>
{% endblock %}
